/*
Color Pallet:

Yellow 
50 - #FFFDE7
100 - #FFF9C4
200 - #FFF59D
300 - #FFF176
400 - #FFEE58
500 - #FFEB3B
600 - #FDD835
700 - #FBC02D
800 - #F9A825
900 - #F57F17
A100 - #FFFF8D
A200 - #FFFF00
A400 - #FFEA00
A700 - #FFD600

*/

:root {
	--clr-primary-300: #FFF176;
	--clr-primary-900: #F57F17;

	--clr-neutral-100: #fcfcfc;
    --clr-neutral-400: #737b8c;
	--clr-neutral-800: #333;

	--ff-primary: 'Roboto Slab', serif;
	--ff-accent: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab'), local('RobotoSlab'), url(https://fonts.gstatic.com/s/robotoslab/v13/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}