@import url(base.css);

/* LAYOUT */

body{
    margin-left: 20mm;
    margin-top: 20mm;
    margin-bottom: 20mm;
    width: 170mm;
    height: 257mm;
}

header br, footer, #printbutton {
    display: none;
}

main {
    columns: 2;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a::after{
    content: " (" attr(print) ") ";
}

/* STYLING */

body {
    font-family: var(--ff-primary);
    font-size: 0.75rem;
}

main {
    line-height: 1.2;
}

#me {
    font-family: var(--ff-accent);
    font-size: 1.8rem;
    padding-left: 2mm;
    padding-right: 2mm;
}

header {
    padding-bottom: 12mm;
    padding-left: 30mm;
}

h2 {
    padding-top: 7mm;
    padding-bottom: 2mm;
    margin-bottom: 2mm;
    margin-left: 2mm;
    margin-right: 2mm;
    text-align: center;
    border-bottom: #000 1px solid;
}

h3 {
    padding-bottom: 3mm;
}

.timeframe {
    padding-top: 3mm;
	display: block;
}

.occupation {
	display: inline-block;
    padding-top: 1mm;
	padding-left: 20mm;
	font-weight: bolder;
}