html {
	background-color: #fcfcfc;
	font-family: 'Noto Serif', serif;
	color: #444444;
	font-size: 1.5em;
}

.darkmode {
	background-color: #222222;
	color: #fcfcfc;
}

body {
	margin: auto;
	margin-top: 50px;
	line-height: 1.4;
	padding: 0px 10px 0px 10px;
}

section {
	margin-top: 50px;
	line-height: 1.9;
}

h1 {
	display: block;
	text-align: center;
	font-size: 13vw;
	font-weight: bold;
	padding: 10px 0;
	letter-spacing: 3px;
}

a, a:visited {
	color: rgb(197, 123, 11);
	text-decoration: none;
}

#post {
	text-align: right;
}

.copyleft {
	display: inline-block;
	transform: rotateY(180deg);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	font-size: 0.6em;
}

@media (min-width: 720px) {
	h1 {
		font-size: 4.2em;
	}
	body {
		width: 700px;
	}
}