html {
	background-color: #fcfcfc;
	font-family: 'Noto Serif', serif;
	color: #444444;
}

body {
	position: absolute;
	margin: auto;
	margin-top: 50px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 500px;
	line-height: 1.4;
	padding: 0 20px;
}

article {
	padding-bottom: 50px;
}

section {
	margin-top: 50px;
	line-height: 1.9;
}

h1 {
	display: block;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding: 10px 0;
	letter-spacing: 3px;
}

a, a:visited {
	color: rgb(197, 123, 11);
	text-decoration: none;
}

nav {
	text-align: center;
	padding-top: 50px;
}

#vibra {
	text-align: center;
}

#post {
	text-align: right;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	font-size: 0.6em;
	background-color: #fcfcfc;
}

@media(min-width: 800px) {
	html {
		font-size: 1.5em;
	}
	body {
		width: 700px;
	}
	h1 {
		font-size: 100px;
	}
}