@import url(base.css);

#printbutton {
	position: fixed;
	top: 0px;
	right: 0px;
	margin-top: 1rem;
	margin-right: 1rem;

	background-color: var(--clr-neutral-400);
	padding: 0.4em 1.2em;
	border: 0.16em solid var(--clr-neutral-400);
	border-radius: 0.5em;
	box-sizing: border-box;
	color: var(--clr-neutral-100);
	text-shadow: 0 0.04em 0.04em var(--clr-neutral-400);
	text-align: center;
	transition: all 0.45s;
	cursor: pointer;
}

#printbutton:hover {
	border-color: var(--clr-primary-900);
}

html {
	background-color: var(--clr-neutral-100);
	font-family: var(--ff-primary);
	color: var(--clr-neutral-800);
}

header {
	padding-top: 9rem;
	padding-bottom: 16rem;
	background-image: url("../img/hero.jpg");
	background-repeat: no-repeat;

	font-family: var(--ff-accent);
	letter-spacing: 2px;
	color: var(--clr-neutral-100);
	text-shadow: 2px 0 0 var(--clr-neutral-800), -2px 0 0 var(--clr-neutral-800), 0 2px 0 var(--clr-neutral-800), 0 -2px 0 var(--clr-neutral-800), 1px 1px var(--clr-neutral-800), -1px -1px 0 var(--clr-neutral-800), 1px -1px 0 var(--clr-neutral-800), -1px 1px 0 var(--clr-neutral-800);
}

body {
	line-height: 1.9;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

section {
	margin: auto;
	margin-top: 8rem;
	max-width: 42rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

section > ol {
	display: flex; 
	flex-flow: row wrap-reverse
}

::selection {
	background: var(--clr-neutral-800);
	color: var(--clr-neutral-100);
}

p {
	padding-top: 1rem;
}

b {
	padding: 0.3rem 0.5ch;
	background-color: var(--clr-primary-300);
	border-radius: 0.5em;
	white-space: nowrap;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-family: var(--ff-accent);
	font-weight: normal;
	letter-spacing: 0.1rem;
	border-bottom: var(--clr-primary-300) solid 0.1rem;
}

ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding-top: 2.5rem;
}

.timeframe {
	display: inline-block;
	vertical-align: top;
	color: var(--clr-neutral-400);
	font-weight: normal;
}

.occupation {
	display: inline-block;
	padding-left: 4rem;
	font-weight: bolder;
	letter-spacing: 0.1rem;
}

a, a:visited {
	color: var(--clr-primary-900);
	text-decoration: none;
	/* Underline effect */
	padding-bottom: 2px;
	background: linear-gradient(var(--clr-neutral-400),var(--clr-neutral-400)) center bottom;
	background-size: 0% 2px; 
	background-repeat:no-repeat; 
	transition: all 0.45s;
}

a:hover {
	background-size: 100% 2px;
}

.copyleft {
	display: inline-block;
	transform: rotateY(180deg);
}

footer {
	padding: 1rem 0;
	font-size: 0.8rem;
	text-align: center;
}

.darkmode {
	background-color: var(--clr-neutral-800);
	color: var(--clr-neutral-100);
}

.darkmode b {
	background: var(--clr-primary-900);
}

.darkmode h2 {
	border-bottom: var(--clr-primary-900) solid 0.2rem;
}

@media (max-width: 42rem) {
	header {
		padding-bottom: 16rem;
	}

	h1 {
		font-size: 2.2rem;
	}
	
	body {
		font-size: 1.2rem;
	}
	
	section {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.timeframe {
		display: block;
	}
	
	.occupation {
		padding-left: 4rem;
	}
}