html {
    overflow: auto;
    margin-left: calc(100vw - 100%); 
}

body {
    font-family: 'Cousine Nerd Font Mono', 'Cousine Nerd Font Propo', 'Cousine', monospace;
    width: clamp(40vw, 700px, 90vw); 
    margin: auto;
    padding: 18px;
    line-height: 1.5em;
    background-color: #0a0a0a;
    color: #eee8d5;
	color-scheme: dark;
}

a {
    color: #e36d3b;
}

code, pre {
	font-family: 'Cousine Nerd Font Mono', 'Cousine Nerd Font Propo', 'Cousine', monospace;
	color: #1BB2B5;
}

nav {
    display: flex;
    gap: 20px;
	padding-bottom: 20px;
}

h1, h2 {
    padding-top: 20px;
}

h1::before {
    content: '# ';
}

h2::before {
    content: '## ';
}

ul {
    list-style: "* ";
    padding-left: 1em;
}

ol {
	padding-left: 2em;
}

figure img {
	object-fit: contain;
	height: 100%; 
	width: 100%;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #fffbf0;
		color-scheme: light;
        color: #3a464a;
    }
    a {
        color: #b51e1b;
    }
	code, pre {
		color: #B51B65;
	}
}

